# If, Elif, Else statements in Python

if some_condition:
    #execute some code
elif some_other_codition:
    #execute some code
else:
    #do something else

In [27]:
hungry = False

if hungry:
    print('Feed Me!')
else:
    print('You Eat')

Feed Me!

In [29]:
loc = 'Bank'

if loc == 'AutoShop':
    print('Cars are cool')
elif loc == 'Bank':
    print('Money is cool')
else:
    pass

Money is cool

# FOR LOOPS

my_iterable = [1,2,3,4]
for item_name in my_iterable:
    print(item_name)
    
>> 1
>> 2
>> 3
>> 4

In [2]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [3]:
for num in mylist:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [4]:
for jelly in mylist:
    print(jelly)

1
2
3
4
5
6
7
8
9
10

In [5]:
for num in mylist:
    print("HEllo")

HEllo
HEllo
HEllo
HEllo
HEllo
HEllo
HEllo
HEllo
HEllo
HEllo

In [6]:
for num in mylist:
    if num%2==0:
        print(num)

2
4
6
8
10

In [7]:
for num in mylist:
    if num%2==0:
        print(num)
    else:
        print(f'The odd number is {num}')

The odd number is 1
2
The odd number is 3
4
The odd number is 5
6
The odd number is 7
8
The odd number is 9
10

In [8]:
list_sum = 0

for num in mylist:
    list_sum = list_sum + num
    print(list_sum)

1
3
6
10
15
21
28
36
45
55

In [10]:
list_sum = 0

for num in mylist:
    list_sum = list_sum + num
    
print(list_sum)

55

In [11]:
mystring = 'Hello World'

for letter in mystring:
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [12]:
for _ in mystring:
    print('Cool')

Cool
Cool
Cool
Cool
Cool
Cool
Cool
Cool
Cool
Cool
Cool

In [13]:
tup = (1,2,3)

for item in tup:
    print(item)

1
2
3

In [14]:
mylist = [(1,2), (3,4), (5,6), (7,8)]

In [15]:
len(mylist)

4

In [16]:
type(mylist)

list

In [17]:
for _ in mylist:
    print(_)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [18]:
# TUPLE UNPACKING

for (a,b) in mylist:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [19]:
mylist = [(1,2,3), (4,5,6), (7,8,9)]

In [20]:
for item in mylist:
    print(item)

(1, 2, 3)
(4, 5, 6)
(7, 8, 9)

In [22]:
for (a,b,c) in mylist:
    print(a)

1
4
7

In [23]:
d = {'k1':1, 'k2':2, 'k3':3}

In [24]:
for item in d:
    print(item)

k1
k2
k3

In [28]:
for item in d.items():
    print(item)

('k1', 1)
('k2', 2)
('k3', 3)

In [32]:
for key, value in d.items():
    print(value)

1
2
3

# While Loops

** While loops will continuw to execute a block of code while some condition remains true**

In [33]:
# Syntax

while some_boolean_condition:
    #do_something
else:
    #do_something_else

IndentationError: expected an indented block (Temp/ipykernel_10004/2459045985.py, line 5)

In [4]:
x = 0
while x < 5:
    print(f'The current value of x is {x}')
    x+=1

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4

In [5]:
x = 0
while x < 5:
    print(f'The current value of x is {x}')
    x+=1
else:
    print("X is not less than 5")

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4
X is not less than 5

# Break, COntinue and PAss

**Break** = Breaks out of the current closest enclosing loop.
**Continue** = Goes to the top of the closest enclosing loop.
**Pass** = Does nothing at all.

In [6]:
x = [1,2,3]

for item in x:
    pass
print('End of my script')

End of my script

In [7]:
mystring = 'Sammy'

In [8]:
for letter in mystring:
    if letter == 'a':
        continue
    print(letter)

S
m
m
y

In [9]:
for letter in mystring:
    if letter == 'a':
        break
    print(letter)

S

In [10]:
x = 0

while x < 5:
    print(x)
    x+=1

0
1
2
3
4

In [11]:
x = 0

while x < 5:
    if x ==2:
        break
    print(x)
    x+=1

0
1

# Useful operators in Python

In [12]:
mylist = [1,2,3]

In [13]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [14]:
for num in range(3,10):
    print(num)

3
4
5
6
7
8
9

In [15]:
for num in range(3,10,2):
    print(num)

3
5
7
9

In [16]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [17]:
range(0,11,2)

range(0, 11, 2)

**Enumerate**

In [19]:
index_count = 0

for letter in 'abcde':
    print('At index {} the letter is {}'.format(index_count, letter))
    index_count += 1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [21]:
word = 'abcde'

for item in enumerate(word):
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [24]:
word = 'abcde'

for index,letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
d


4
e

**Zip Function**

In [25]:
mylist1 = [1,2,3,4,5]
mylist2 = ['a', 'b', 'c']

In [28]:
zip(mylist1,mylist2) #it zips together two or more lists

In [29]:
for item in zip(mylist1,mylist2):
    print(item)
    
# zip will go as far as the shortest list is reachable

(1, 'a')
(2, 'b')
(3, 'c')

In [30]:
list(zip(mylist1,mylist2))

[(1, 'a'), (2, 'b'), (3, 'c')]

**'in' Operator**

In [31]:
'x' in [1,2,3]

False

In [32]:
'x' in ['x']

True

In [33]:
'a' in 'a cat'

True

In [34]:
'mykey' in {'mykey':45}

True

In [35]:
d = {'mykey':345}

345 in d.values()

True

In [36]:
d = {'mykey':345}

345 in d.keys()

False

**Min and Max Function**

In [37]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [38]:
min(mylist)

1

In [39]:
max(mylist)

10

**'Random' Library**

In [40]:
# importing library

from random import shuffle

In [41]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [42]:
shuffle(mylist)

In [43]:
mylist

[2, 6, 10, 3, 9, 1, 4, 5, 7, 8]

This function cannot be assigned to any variable

In [44]:
random_list = shuffle(mylist)

In [45]:
random_list

In [46]:
type(random_list)

NoneType

In [47]:
mylist

[4, 2, 10, 1, 7, 5, 9, 6, 8, 3]

In [48]:
from random import randint

In [49]:
randint(0,100)

30

**'randint' gives random number between two args**

In [50]:
# Because it is returning something we can assign it to a variable

In [51]:
mynum = randint(0,50)

In [52]:
mynum

13

**How to accept user input**

In [53]:
input('Enter a number: ')

Enter a number: 50

'50'

In [54]:
a = input('Enter a number: ')

Enter a number: 50

In [55]:
a

'50'

In [56]:
result = input("What's your name: ")

What's your name: Yashraj

In [57]:
result

'Yashraj'

In [59]:
a = int(input('Enter a number: '))

Enter a number: 44

In [60]:
a

44

# Lists Comprehension

* It is a unique way of quickly creating a list with Python.
* If you find urself using a for loop along with .append() to create a list, List comprehension are good alternative

In [62]:
mystring = 'Hello'

In [63]:
mylist = []

for letter in mystring:
    mylist.append(letter)

In [64]:
mylist

['H', 'e', 'l', 'l', 'o']

In [65]:
mylist = [letter for letter in mystring]

In [66]:
mylist

['H', 'e', 'l', 'l', 'o']

In [67]:
mylist = [x for x in 'yashraj']

In [68]:
mylist

['y', 'a', 's', 'h', 'r', 'a', 'j']

In [69]:
mylist = [num**2 for num in range(0,11)]

In [70]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [71]:
mylist = [x for x in range(0,11) if x%2 == 0]

In [72]:
mylist

[0, 2, 4, 6, 8, 10]

In [73]:
celcius = [0,10,20,30.5]

fahrenheit = [((9/5)*temp + 32) for temp in celcius]

In [74]:
fahrenheit

[32.0, 50.0, 68.0, 86.9]

In [76]:
celcius = int(input("ENTR TEMP IN CELCIUS: "))

fahrenheit = (9/5)*celcius + 32
print(fahrenheit)

ENTR TEMP IN CELCIUS: 20
68.0

**If...else... Statements in List Comprehensions**

In [77]:
results = [x if x%2==0 else 'ODD' for x in range(0,11)]

In [78]:
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

**Nested Loops**

In [79]:
mylist = []

for x in [2,4,6]:
    for y in [100,200,300]:
        mylist.append(x*y)

In [80]:
mylist

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]

In [81]:
mylist = [x*y for x in [2,4,6] for y in [1,10,100]]

In [82]:
mylist

[2, 20, 200, 4, 40, 400, 6, 60, 600]

In [83]:
'word'.split()

['word']

In [84]:
mystring = 'My name is Yashraj'

mystring.split()

['My', 'name', 'is', 'Yashraj']